body{
    background-color: rgb(182, 242, 242);
    font-size: 25px;
}
#main{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    text-align: center;
    color: yellow;
    -webkit-text-stroke: 2px black;
    font-weight: 900;
}

.flex{
    display: flex;
    flex-direction: column;
}